<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">

        

      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
     
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: center; font-weight: bold;margin-top: 25px;" >Welcome To Al-Hudhud company</p>
  <p style="text-align: center;">lorem ipsum lorem ipsum </p>

 <!--  <ion-item lines="none">
  <ion-label position="stacked" style=" font-size:25px;   margin: 16px 0px; ">Title</ion-label>
  <ion-input type="text" placeholder=""></ion-input>
</ion-item> -->

  <!-- <ion-item class="itemText">
    
    <ion-textarea style="height: 50px;" ></ion-textarea>
  </ion-item> -->

  <ion-row>
    <ion-col style="margin: 5px;">
      <ion-label position="stacked" >Title</ion-label>
  <ion-input type="text" placeholder=""></ion-input>
    </ion-col>
  </ion-row>

  <ion-item lines="none">
    <ion-label >Your Message</ion-label>
  </ion-item>
  
    <ion-item class="itemText">
      
      <ion-textarea style="    height: 200px;" ></ion-textarea>
    </ion-item>

    <div class="ion-text-center ion-margin-vertical">
      <ion-button expand="block"  size="default" color="orange" >Send A Message</ion-button>
      </div>

</ion-content>
