<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
     
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" ></ion-back-button>
    </ion-buttons>
    <ion-title>About-us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets\images\Logo.png" style="margin-top: 50px;">
<h2>Welcome To Al-Hudhud </h2>
<p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search </p>

</ion-content>
