<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product"></ion-back-button>
    </ion-buttons>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{itemName}}</ion-title>
  <img src="assets/images/Mask Group 17.png">

  <ion-item-divider style="padding: 0px;">
    <ion-item class="itemscol">
      <ion-avatar slot="start">
        <img src="assets/images/points.png">
      </ion-avatar>
      <ion-label>
        <h2>Exchange points</h2>
        <p>240</p>
      </ion-label>
    </ion-item>

    
  

    <ion-item class="itemscol">
      <ion-avatar slot="start">
        <img src="assets/images/dollar.png">
      </ion-avatar>
      <ion-label>
        <h2>Product price</h2>
        <p>{{Price}}$</p>
      </ion-label>
    </ion-item>

  </ion-item-divider>
  <ion-item>
<p>{{HeadLine}}</p>
  </ion-item>

  <div class="ion-text-center ion-margin-vertical">
    <ion-button expand="block"  size="default" color="orange" >Purchase Order</ion-button>
    </div>

</ion-content>
