ion-content{
    --background: #e4e2e2;
    text-align: center;
}

img{
    height: 113px;
}

ion-card-header{
    padding: 0px;
}
    ion-card
    {
        display: inline-block;
    width: 43%;
    text-align: center;

    }

    ion-card-content {
        padding: 0px;
    }
    
    ion-button{
        font-size: 12px
    }