<ion-header>
  <ion-toolbar>
    <ion-title>Client Notes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/menu/tabs/appointment-emp"  routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
<ion-row>
<ion-col size-sm="6">
  <ion-label style="margin: 16px 0px;" position="stacked">Report</ion-label>
  <img src="assets/images/Group 1591.png" alt=""> 
</ion-col>
<ion-col size-sm="6">
  <ion-label style="margin: 16px 0px;" position="stacked">Location</ion-label>
  <img src="assets/images/Group 1592.png" alt=""> 
</ion-col>

</ion-row>

<ion-row>
  <ion-col size-sm="6">
    <ion-label style="margin: 16px 0px;" position="stacked">Receipt Voucher</ion-label>
    <img src="assets/images/Group 1593.png" alt="">
  </ion-col>
  <ion-col size-sm="6">
    <ion-label style="margin: 16px 0px;" position="stacked">Invoice</ion-label>
    <img src="assets/images/Group 1594.png" alt="">
  </ion-col>
  
  </ion-row>
  
  <ion-row>
    <ion-col>
    <ion-label style="margin: 16px 0px;" position="stacked">Officer Notes</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-col>

    <section>
    <ion-button  expand="block"  routerLink="/admin-notes" color="orange">Admin Notes</ion-button>
  </section>

  </ion-row>

  </ion-grid>

</ion-content>
