ion-label
{
    color:#000000 !important;
    font-size: 24px !important;
}

ion-content
{
    --background: #e4e2e2;
}

ion-input
{
    background: white;
    border-radius: 8px;
    border: gray 1px solid;
}

ion-item
{
    --background: #e4e2e2;
}

ion-label
{
    margin: 16px 0px;
}

ion-textarea
{
    background: white;
    border-radius: 8px;
    border: gray 1px solid;
}



section{
    width: -webkit-fill-available;
}

ion-label{
    color: #000000 !important;
    font-size: 17px !important;
}