<ion-header>
  <ion-toolbar>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <h1>select problem</h1>
  <div>
    <img class="visaImage" src="assets/images/Icon1.png">
    <img class="visaImage" src="assets/images/Icon2.png">
    <img class="visaImage" src="assets/images/Icon3.png">
    <img class="visaImage" src="assets/images/Icon4.png">
    <img class="visaImage" src="assets/images/Icon5.png">
    <div class="divRadio">

      <input style="margin-left:6% !important" 
      (change)="checkCheckBoxvalue($event)" 
      class="radio" type="checkbox" id="Landscaping" name="Landscaping" value="Landscaping">
     
      <input  class="radio" type="checkbox" 
      (change)="checkCheckBoxvalue($event)" 
      id="Pest Control" name="Pest Control" value="Pest Control">
     

      <input (change)="checkCheckBoxvalue($event)" class="radio" 
      type="checkbox" id="Sterilization" name="Sterilization" value="Sterilization">
     
      <input  class="radio" type="checkbox"
      (change)="checkCheckBoxvalue($event)" 
      id="Rodent Control" name="Rodent Control" value="Rodent Control">
     

      <input class="radio" type="checkbox" 
      (change)="checkCheckBoxvalue($event)" 
      id="Cats and Dogs" name="Cats and Dogs" value="Cats and Dogs">
     
      

    </div>
  </div>


  <h1>select status</h1>
  <div style="margin-left: 25%;">
    <img class="visaImage" src="assets/images/Icon6.png">
    <img class="visaImage" src="assets/images/Icon7.png">
    <img class="visaImage" src="assets/images/Icon8.png">
    
    <div class="divRadio">

      <input class="radio" type="checkbox" 
      (change)="checkCheckBoxvalue($event)" 
      id="complete" name="Status" value="complete">
     
      <input  class="radio" type="checkbox"
      (change)="checkCheckBoxvalue($event)" 
      id="working on" name="Status" value="working on">
     

      <input class="radio" type="checkbox"
      (change)="checkCheckBoxvalue($event)" 
      id="cancel" name="Status" value="cancel">
     
     
      

    </div>
  </div>
  <ion-button (click)="gotToSchdule()">filter</ion-button>
</ion-content>